@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --main-background: #fff;
  --bg-card: #fff;
  --bg-input: #fff;
}

.dark {
  --main-background: #0B0B1A;
  --bg-card: #14142B;
  --bg-input: #1E1B3A;
  --bg-input-border: 1px solid #F6FF7D;
  --bg-login-button: linear-gradient(to right, #7B2FF7, #C77DFF);
  --h1-login: #F5F3FF;
  --login-placeholder: #B8B3D9;
  --login-link: #C77DFF;
}

.bg-main {
  background-color: var(--main-background);
}

.bg-card {
  background-color: var(--bg-card);
}

.bg-input {
  background-color: var(--bg-input);
}

.bg-input-border {
  border: var(--bg-input-border);
}

.bg-login-button {
  background: var(--bg-login-button);
}

.h1-login {
  color: var(--h1-login);
}

.login-placeholder {
  color: var(--login-placeholder);
}

.login-link {
  color: var(--login-link);
}